<div class="container1">
    <h1>Ayúdanos a recopilar información</h1>
    <p> SE PARTE DE NUESTRA PÁGINA </p>
</div>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag '1.jpeg', class:"d-block w-200", alt:"peliculas" %>
    </div>
    <div class="carousel-item">
      <%= image_tag '2.jpeg', class:"d-block w-200", alt:"series" %>
    </div>
    <div class="carousel-item">
      <%= image_tag '3.png', class:"d-block w-200", alt:"documentales" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>














